div.center-div {
  margin: 100px auto ;
  width: 80%;
  background-color: rgba(255, 255, 255, .7);
  padding: 30px;
  border-radius: 10px;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}


body {
  font-family:geneva;
}

table, td, th {  
  margin: auto;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}


.table-col-5 {
 width: 5%;
}

.table-col-10 {
 width: 10%);  
}

.table-col-25 {
 width: 25%;  
}


.table-col-45 {
 width: 45%;  
}




th, td {
  padding: 10px;
}

th {
  width: 20%;
  background-color: #b4cab0;
}

textarea {
  width: 90%;
  padding-top: 20px;
  font-family:geneva;
  font-size: 16px;
  padding: 10px;
  border:none;
}


select {
  font-family:geneva;
  font-size: 16px;
  padding: 10px;
  border:none;
}

button {
  margin: 20px;
  padding: 5px;
  font-size: 16px;
}
