div.center-div {
  margin: 100px auto ;
  width: 400px;
  background-color: rgba(255, 255, 255, .7);
  padding: 30px;
  border-radius: 10px;
}

ul.character-list {
  min-height: 300px;
}
ul li {
  list-style-type: none;
  margin: 10px;
}

ul a {
  text-transform: uppercase;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  text-align: center;
  width: 90%;
  padding: 0px 20px;
}

body {
  font-family:geneva;
  background-image: url("./background.jpeg");
}

#home-link {
  width: 100%;
  text-align: center;

}

#home-link a {
  text-align: center;
  text-decoration: none;
  color: black;
}

#buttons-div {
  width: 100%;
  text-align: center;
}

button {
  margin: 20px;
  padding: 7px 10px;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
}
